/* .card-view{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card-button{
  margin-right: 10px;
}
.card-content{
  
} */
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* .userName{
  padding-right: 1%;
} */
body{
  background-color: #282b52;
}

.full-form {
  align-items: center;
  background-color: #15172b;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.form {
  background-color: #282b52;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 500px;
  /* width: 320px; */
}
.input-container {
  height: 50px;
  position: relative;
  width: 100%;
  background-color: white;
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 18px;
  padding: 4px 20px 0;
}
input{
  position: relative ;
  top: 10%;
  border: 0 solid white;
  outline: none;
}
.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}
.ic1 {
  margin-top: 40px;
}
.ic2 {
  margin-top: 30px;
}
.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}


.card-view{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* justify-content: space-around; */
  /* height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px; */
  padding: 2%;
}
.card-view img{
  height: auto;
  max-height: 300px;
  width: auto;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.no-data-popup {
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  /* backdrop-filter: blur(10px); */
  backdrop-filter: blur(10px); /* The blur amount can be adjusted */
 
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  z-index: 1000; /* Ensure the pop-up is in front of the blurred background*/
}

.no-data-popup p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.no-data-popup button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.no-data-popup button:hover {
  background-color: #0056b3;
}
