/* .card-view{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card-button{
  margin-right: 10px;
}
.card-content{
  
} */
.card-view{
  display: flex;
  flex-wrap: wrap;
  /* height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px; */
}
.card-view img{
  height: auto;
  max-height: 300px;
  width: auto;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.no-data-popup {
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  /* backdrop-filter: blur(10px); */
  backdrop-filter: blur(10px); /* The blur amount can be adjusted */
 
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  z-index: 1000; /* Ensure the pop-up is in front of the blurred background*/
}

.no-data-popup p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.no-data-popup button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.no-data-popup button:hover {
  background-color: #0056b3;
}
